# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj

# OAuth2 token
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# Compiled Stan models
src/*.o
src/*.so
src/*.dll

# Mac files
.DS_Store

# Test outputs
tests/testthat/*.rds
tests/testthat/*.png

# Simulation results
simulation_results.rds
